/**
   * Global CSS
   * 
   * This file contains the Global CSS of the website.
   * 
*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

/* Header */
.HeaderContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   padding-bottom: 50px;
   opacity: 0.7;
   background: linear-gradient(to bottom, #333, #333 70%, #f4f4f4 95%);
   background-color: #000000;
}

.logo-header {
   margin-left: 30px;
}

.logo-header img {
   width: 72px;
   height: auto;
}

.menu-header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.searchHeader{
   padding: 15px;
}

.SideBarHeader{
   padding: 15px;
   margin-right: 30px;
}

.searchHeader img{
   width: 35px;
   height: 35px;
   object-fit: cover;
}

.SideBarHeader img{
   width: 35px;
   height: 35px;
   object-fit: cover;
}

.LogoReduced{
   display: none;
}

.SideBarHeader2{
   display: none;
}

@media screen and (max-width: 768px) {
   .HeaderContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0;
      padding-bottom: 0px;
      opacity: 0.7;
      background: linear-gradient(to bottom, #333, #333 70%);
   }

   .SideBarHeader, .searchHeader {
      display: none;
   }

   .SideBarHeader2{
      display: block;
      margin-top: 15px;
      margin-left: 20px;
   }

   .SideBarHeader2 img {
      width: 30px;
      height: 30px;
      object-fit: cover;
   }
   
   .SideBarHeader{
      margin-right: 30px;
   }
   
   .searchHeader img{
      width: 25px;
      height: 25px;
      object-fit: cover;
   }
   
   .SideBarHeader img{
      width: 25px;
      height: 25px;
      object-fit: cover;
   }

   .bottomHeader {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.7;
      background: linear-gradient(to bottom, #333, #333 70%, #f4f4f4 95%);
      padding-bottom: 5px;
      position: relative;
   }

   .logo-header{
      display: none;
   }

   .LogoReduced{
      display: block;
   }

   .LogoReduced img{
      width: 20px;
      height: auto;
   }
   
   .LineBefore,
   .LineAfter {
      position: absolute;
      height: 2px;
      background-color: #f4f4f4;
      top: 50%;
      transform: translateY(-50%);
   }
   
   .LineBefore {
      left: 0;
      width: calc(49% - 30px);
   }
   
   .LineAfter {
      right: 0;
      width: calc(49% - 30px);
   }
   
   .bottomHeader img {
      margin-top: 5px;
      width: 30px;
      height: 30px;
      z-index: 1;
   }
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: var(--white100);
}
:root{
   --black: #000000;
   --blue100: #09307C;
   --blue200: #051E4F;
   --white: #FFFFFF;
   --white100: #F4F4F4;
   --grey100: #D9D9D9;
   --grey200: #646464;
}

/**
   * Form 
   * 
   * This line of code is responsible for the form.
   * 
*/
.logo-top-form {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.logo-top-form a img {
   width: 72px;
   height: 72px;
   object-fit: cover;
}
main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
}
main .container-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 80vh;
   padding: 20px;
   margin-bottom: 200px;
   background-color: var(--white);
   box-shadow: -4px 4px 2px 1px rgba(0, 0, 0, 0.4);
}

main .container-form .content-form .error{
   width: 100%;
   background-color: rgba(255, 0, 0, .1);
}

main .container-form .content-form .success{
   width: 100%;
   background-color: rgba(0, 255, 0, .1);
}

main .container-form .content-form .error p{
   color: red;
   font-size: 16px;
   text-align: center;
   padding: 10px;
}

main .container-form .content-form .success p{
   color: green;
   font-size: 16px;
   text-align: center;
   padding: 10px;
}

main .container-form .content-form h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 54px;
   color: var(--blue100);
   margin-bottom: 12px;
}
main .container-form .content-form p {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   color: var(--grey200);
   margin-bottom: 24px;
}
main .container-form .content-form .form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}
main .container-form .content-form .form .info-field-form {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   margin-bottom: 12px;
   border: 1px solid var(--grey100);
   border-radius: 5px;
   padding: 0 12px;
}
main .container-form .content-form .form .info-field-form .toggle-password {
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: relative;
}
main .container-form .content-form .form .info-field-form .toggle-password a i#toggle-icon {
   font-size: 20px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 0;
}
main .container-form .content-form .form .info-field-form i {
   font-size: 20px;
   color: var(--grey100);
   margin-right: 12px;
}
main .container-form .content-form .form .info-field-form input {
   width: 440px;
   height: 62px;
   font-size: 20px;
   color: var(--black);
   border: none;
   outline: none;
   background-color: transparent;
}
main .container-form .content-form .form .info-field-form.adm {
   display: flex;
   justify-content: flex-start;
   border: none;
   padding: 0 1px;
}
main .container-form .content-form .form .info-field-form.adm input[type="checkbox"] {
   width: 16px;
   height: 16px;
   margin-right: 12px;
   border: 1px solid red;
   padding: 13px;
}
main .container-form .content-form .form button {
   width: 100%;
   height: 62px;
   font-size: 24px;
   color: var(--white);
   background-color: var(--blue200);
   border: none;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   transition: all .5s ease-in-out;
}
main .container-form .content-form .form button:hover {
   background-color: var(--blue100);
   transition: all .5s ease-in-out;
}
main .container-form .content-form .form p {
   font-size: 16px;
   color: var(--grey200);
   margin-top: 24px;
}
main .container-form .content-form .form p a {
   font-size: 16px;
   color: var(--blue100);
   padding: 0 4px;
   text-decoration: none;
   transition: all .5s ease-in-out;
}
main .container-form .content-form .form p a:hover {
   color: var(--blue100);
   text-decoration: underline;
   transition: all .5s ease-in-out;
}
main .container-form .btn-goback {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
}
main .container-form .btn-goback a {
   padding: 12px;
   border: 2px solid var(--blue200);
   border-radius: 50px;
   font-size: 16px;
   color: var(--blue200);
   text-decoration: none;
   transition: all .5s ease-in-out;
}
main .container-form .btn-goback a:hover {
   background-color: var(--blue200);
   color: var(--white);
   transition: all .5s ease-in-out;
}

/**
   * dashboard
   *
   * This line of code is responsible for the dashboard.
*/
main .dashboard-title {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
   font-size: 36px;
   font-weight: 700;
}
main .dashboard-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
}
main .dashboard-container .dashboard-content-container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
main .dashboard-container .dashboard-content-container .dashboard-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 24px;
}
/**
   * Footer 
   * 
   * This line of code is responsible for the Footer.
   * 
*/
footer {
   text-align: center;
   padding: 10px 0;
   border-top: 2px solid var(--blue100);
}
footer .container-links {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
footer .container-links .content-links {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   max-width: 100px;
}
footer .container-links .content-links img {
   width: 72px;
   height: 72px;
   object-fit: cover;
}
footer .container-links .content-links p a {
   font-size: 20px;
   color: var(--grey200);
   font-weight: 700;
   text-decoration: none;
   transition: all .5s ease-in-out;
}
footer .container-links .content-links p a:hover {
   color: var(--blue100);
   transition: all .5s ease-in-out;
}
footer .container-links .content-links i {
   font-size: 18px;
   color: var(--grey200);
}
footer .content-visible-mobile {
   display: none;
   visibility: hidden;
}

footer .container-devs {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
}
footer .container-devs p {
   font-size: 16px;
   color: var(--grey200);
}
footer .container-devs p a {
   color: var(--blue100);
   text-decoration: none;
   transition: all .5s ease-in-out;
}
footer .container-devs p a:hover {
   color: var(--grey200);
   transition: all .5s ease-in-out;
}

footer .copyright {
   margin-top: 24px;
   font-size: 14px;
   color: var(--grey200);
}

@media screen and (max-width: 960px) {
   /**
      * Form responsive
      * 
      * This line of code is responsible for making the form responsive.
      * 
   */
   main .container-form {
      width: 90%;
      height: auto;
      padding: 16px;
      margin-bottom: 0;
   }

   main .container-form .content-form h1 {
      font-size: 36px;
   }

   main .container-form .content-form p {
      font-size: 18px;
   }

   main .container-form .content-form .form .info-field-form input {
      width: 100%;
      height: 50px;
      font-size: 18px;
   }

   main .container-form .content-form .form button {
      height: 50px;
      font-size: 20px;
   }

   /**
      * Footer responsive
      * 
      * This line of code is responsible for making the footer responsive.
      * 
   */
   footer .container-links {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0 30px;
      gap: 20px;
   }
   footer .container-links .content-visible-mobile {
      display: flex;
      visibility: visible;
   }
   footer .container-links .content-visible-mobile {
      display: flex;
      align-items: center;
   }
   footer .container-links .content-visible-mobile img {
      width: 72px;
      height: 72px;
      object-fit: cover;
   }
   footer .container-links .content-visible-mobile .p-visible-mobile{
      font-size: 20px;
      font-weight: 600;
      margin-left: 12px;
      color: var(--blue200);
   }

   footer .container-links .content-links {
      flex-direction: row;
      max-width: 100%;
   }
   footer .container-links .content-links.logo-visble-web {
      display: none;
   }
   footer .container-links .content-links p a {
      font-size: 18px;
   }
   footer .container-links .content-links i {
      font-size: 16px;
   }

   footer .container-devs {
      flex-wrap: wrap;
      padding: 0 30px;
   }
   footer .container-devs p {
      font-size: 14px;
   }

   footer .copyright {
      font-size: 12px;
   }
}