/**
   * Global CSS
   * 
   * This file contains the Global CSS of the website.
   * 
*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
:root{
   --black: #000000;
   --blue100: #09307C;
   --blue100-variant: rgba(9, 48, 124, .3);
   --blue200: #051E4F;
   --grey100: #D9D9D9;
   --grey200: #646464;
   --red100: #7c0909;
   --red200: #4f0505;
   --white: #FFFFFF;
   --white100: #F4F4F4;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: var(--white100);
}

/* Header */

header {
   background-image: url("./../gfx/HomeBanner.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 60vh;
}

main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 24px 0;
}

.HeaderContainer {
   position: sticky;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   background-color: rgba(0, 0, 0, .5);
   box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);   
}

/* burger */ 
.burger {
   display: inline-block;
   cursor: pointer;
   z-index: 1000;
}
 
.burger span {
   display: block;
   width: 30px;
   height: 3px;
   background: #ffffff;
   margin: 6px 0;
   transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
   opacity 0.3s ease;
}
 
#burger-checkbox {
   display: none;
}
 
#burger-checkbox:checked + .burger span:nth-child(1) {
   transform: translateY(9px) rotate(45deg);
}
 
#burger-checkbox:checked + .burger span:nth-child(2) {
   opacity: 0;
   transform: translateX(-20px);
}
 
#burger-checkbox:checked + .burger span:nth-child(3) {
   transform: translateY(-9px) rotate(-45deg);
}
 

.HeaderContainer .logo-header {
   margin-left: 30px;
}

.HeaderContainer .logo-header img {
   width: 72px;
   height: auto;
}

.HeaderContainer .menu-header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.HeaderContainer .menu-header .SideBarHeader{
   padding: 15px;
   margin-right: 30px;
}

.HeaderContainer .menu-header .SideBarHeader img{
   width: 35px;
   height: 35px;
   object-fit: cover;
}

.bottomHeader .LogoReduced{
   display: none;
   width: 20px;
}

.nav-header {
   display: none; /* Oculta a navegação inicialmente */
   flex-direction: column; /* Organiza os ícones verticalmente */
}

.nav-header a {
   text-decoration: none; /* Remove o sublinhado dos links */
   color: #f4f4f4; /* Cor do texto */
   margin-right: 15px; /* Espaçamento entre os ícones */
}


/**
   * Form 
   * 
   * This line of code is responsible for the form.
   * 
*/
.logo-top-form {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.logo-top-form a img {
   width: 72px;
   height: 72px;
   object-fit: cover;
}
main .container-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 80vh;
   padding: 20px;
   margin-bottom: 200px;
   background-color: var(--white);
   box-shadow: -4px 4px 2px 1px rgba(0, 0, 0, 0.4);
}
main .container-form .content-form .error{
   width: 100%;
   background-color: rgba(255, 0, 0, .1);
}
main .container-form .content-form .success{
   width: 100%;
   background-color: rgba(0, 255, 0, .1);
}
main .container-form .content-form .error p{
   color: red;
   font-size: 16px;
   text-align: center;
   padding: 10px;
}
main .container-form .content-form .success p{
   color: green;
   font-size: 16px;
   text-align: center;
   padding: 10px;
}
main .container-form .content-form h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 54px;
   color: var(--blue100);
   margin-bottom: 12px;
}
main .container-form .content-form p {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   color: var(--grey200);
   margin-bottom: 24px;
}
main .container-form .content-form .form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}
main .container-form .content-form .form .info-field-form {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   margin-bottom: 12px;
   border: 1px solid var(--grey100);
   border-radius: 5px;
   padding: 0 12px;
}
main .container-form .content-form .form .info-field-form .toggle-password {
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: relative;
}
main .container-form .content-form .form .info-field-form .toggle-password a i#toggle-icon {
   font-size: 20px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 0;
}
main .container-form .content-form .form .info-field-form i {
   font-size: 20px;
   color: var(--grey100);
   margin-right: 12px;
}
main .container-form .content-form .form .info-field-form input {
   width: 440px;
   height: 62px;
   font-size: 20px;
   color: var(--black);
   border: none;
   outline: none;
   background-color: transparent;
}
main .container-form .content-form .form .info-field-form.adm {
   display: flex;
   justify-content: flex-start;
   border: none;
   padding: 0 1px;
}
main .container-form .content-form .form .info-field-form.adm input[type="checkbox"] {
   width: 16px;
   height: 16px;
   margin-right: 12px;
   border: 1px solid red;
   padding: 13px;
}
main .container-form .content-form .form button {
   width: 100%;
   height: 62px;
   font-size: 24px;
   color: var(--white);
   background-color: var(--blue200);
   border: none;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   transition: all .5s ease-in-out;
}
main .container-form .content-form .form button:hover {
   background-color: var(--blue100);
   transition: all .5s ease-in-out;
}
main .container-form .content-form .form p {
   font-size: 16px;
   color: var(--grey200);
   margin-top: 24px;
}
main .container-form .content-form .form p a {
   font-size: 16px;
   color: var(--blue100);
   padding: 0 4px;
   text-decoration: none;
   transition: all .5s ease-in-out;
}
main .container-form .content-form .form p a:hover {
   color: var(--blue100);
   text-decoration: underline;
   transition: all .5s ease-in-out;
}
main .container-form .btn-goback {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
}
main .container-form .btn-goback a {
   padding: 12px;
   border: 2px solid var(--blue200);
   border-radius: 50px;
   font-size: 16px;
   color: var(--blue200);
   text-decoration: none;
   transition: all .5s ease-in-out;
}
main .container-form .btn-goback a:hover {
   background-color: var(--blue200);
   color: var(--white);
   transition: all .5s ease-in-out;
}


/*CARD*/
section {
   display: flex;
   flex-flow: column;
   width: 100%;
   --outside-margin: 8.33vw;
}
section .content-card {
   display: block;
   position: relative;
}
section .content-card .container-ul-card {
   display: flex;
   flex-direction: row;
   width: 100%;
   scroll-snap-type: x mandatory;
   overflow: scroll hidden;
   gap: 16px;
   padding: 0 8.33vw;
   padding-inline-start: 8.33vw;
   padding-inline-end: 8.33vw;
   scrollbar-width: none; 
}

section .content-card .container-ul-card .content-ul-card {
   pointer-events: auto;
   opacity: 1;
   min-height: 100%;
   display: inline-block;
   min-width: 33.333333333333336%;
   max-width: 33.333333333333336%;
   scroll-snap-align: center;
   --separator-width: 0px;
}

section .content-card .container-ul-card .content-ul-card .container-li-card {
   display: flex;
   flex-direction: column;
   overflow: visible;
   list-style: none;
   padding-bottom: 24px;
}

section .content-card .container-ul-card .content-ul-card .container-li-card .content-li-card {
   cursor: pointer;
}

section .content-card .container-ul-card .content-ul-card .container-li-card .content-li-card .info-li-card {
   display: flex;
   flex-direction: column;
   min-height: 175px;
   margin-bottom: 120px;
   padding: 8px 8px 0px;
   border-radius: 0px;
   background: rgb(90, 96, 100);
   -webkit-box-pack: end;
   justify-content: flex-end;
}

section .content-card .container-ul-card .content-ul-card .container-li-card .content-li-card .info-li-card .subinfo-li-card {
   position: relative;
   height: 100px;
   display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   margin-top: 10px;
}

section .content-card .container-ul-card .content-ul-card .container-li-card .content-li-card .info-li-card .subinfo-li-card .img-li-card {
   pointer-events: none;
   width: 375px;
   max-width: 140%;
   position: absolute;
   top: -10px;
}

section .content-card .container-ul-card .content-ul-card .container-li-card .content-li-card .info-li-card .subinfo-li-card .img-li-card img {
   display: block;
   width: 100%;
}

/**
   * Dashboard
   *
   * This line of code is responsible for the dashboard.
*/
main .titles {
   display: flex;
   justify-content: center;
   align-items: center;
}

main .titles .dashboard-title {
   font-size: 62px;
   font-weight: 700;
}
main .titles .dashboard-subtitle {
   font-size: 34px;
   font-weight: 400;
}
main .titles .line {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 2px;
   background-color: #ccc;
   /* margin-top: 24px;
   margin-bottom: 24px; */
   margin: 24px 0;
}
main .dashboard-container {
   width: 80%;
   max-width: 800px;
   justify-content: center;
   margin-bottom: 24px;
}
main .dashboard-container .dashboard-content {
   display: flex;
   justify-content: center;
   gap: 20px;
}
main .dashboard-container .dashboard-content .container-card {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 20px;
   max-width: 200px;
   max-height: 180px;
}
main .dashboard-container .dashboard-content .card {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   border-radius: 4px;
   color: white;
}
main .dashboard-container .dashboard-content .card.large {
   width: 200px;
   /* height: 185px; */
   font-size: 24px;
   justify-content: center;
   gap: 10px;
}
main .dashboard-container .dashboard-content .card.small {
   width: 85px;
   font-size: 14px;
   justify-content: space-between;
}
main .dashboard-container .dashboard-content .card.large .box-icon-count i {
   font-size: 24px;
}
main .dashboard-container .dashboard-content .card.small .box-icon-count i {
   font-size: 14px;
}
main .dashboard-container .dashboard-content .card.usuarios {
   background-color: var(--blue200);
}
main .dashboard-container .dashboard-content .card.consumidor, .card.administrador {
   background-color: var(--blue100);
}
main .dashboard-container .dashboard-content .card.modelos {
   background-color: var(--red200);
}
main .dashboard-container .dashboard-content .card.hatch,
main .dashboard-container .dashboard-content .card.sedan,
main .dashboard-container .dashboard-content .card.suv,
main .dashboard-container .dashboard-content .card.pickup 
{
   background-color: var(--red100);
}
main .dashboard-container .dashboard-content .card .box-icon-count .count {
   font-size: 16px;
   font-weight: 600;
}
main .dashboard-container .dashboard-content .card .label {
   font-size: 16px;
   font-weight: 500;
}
main .dashboard-container .dashboard-content .card .box-icon-count {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
main .tables-links-container {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 24px 0;
}
main .tables-links-container .tables-links-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
main .tables-links-container .tables-links-content .tables-links-users {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0px 50px 0px 0px;
   border-radius: 4px;
   background-color: var(--blue200);
   font-size: 16px;
   color: var(--white);
   text-decoration: none;
   transition: all .5s ease-in-out;
}
main .tables-links-container .tables-links-content .tables-links-users:hover {
   background-color: var(--blue100);
   transition: all .5s ease-in-out;
}
main .tables-links-container .tables-links-content .tables-links-models {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0px 0px 0px 50px;
   border-radius: 4px;
   background-color: var(--red200);
   font-size: 16px;
   color: var(--white);
   text-decoration: none;
   transition: all .5s ease-in-out;
}
main .tables-links-container .tables-links-content .tables-links-models:hover {
   background-color: var(--red100);
   transition: all .5s ease-in-out;
}

/**
   * Footer 
   * 
   * This line of code is responsible for the Footer.
   * 
*/
footer {
   text-align: center;
   padding: 10px 0;
   border-top: 2px solid var(--blue100);
}
footer .container-links {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

footer .container-links .content-article-box{
   width: 500px;
}

footer .container-links .content-article-box .content-links {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
footer .container-links .content-article-box .content-links img {
   width: 72px;
   height: 72px;
   object-fit: cover;
}
footer .container-links .content-article-box .content-links p a {
   font-size: 20px;
   color: var(--grey200);
   font-weight: 700;
   text-decoration: none;
   transition: all .5s ease-in-out;
}
footer .container-links .content-article-box .content-links p a:hover {
   color: var(--blue100);
   transition: all .5s ease-in-out;
}
footer .container-links .content-article-box .content-links i {
   font-size: 18px;
   color: var(--grey200);
}
footer .content-visible-mobile {
   display: none;
   visibility: hidden;
}

footer .container-devs {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 24px;
}
footer .container-devs p {
   font-size: 16px;
   color: var(--grey200);
}
footer .container-devs p a {
   color: var(--blue100);
   text-decoration: none;
   transition: all .5s ease-in-out;
}
footer .container-devs p a:hover {
   color: var(--grey200);
   transition: all .5s ease-in-out;
}

footer .copyright {
   margin-top: 24px;
   font-size: 14px;
   color: var(--grey200);
}

@media screen and (max-width: 960px) {
   /**
      * Header responsive
      * 
      * This line of code is responsible for making the header responsive.
      * 
   */
   .HeaderContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0;
      padding-bottom: 0px;
      background-color: rgba(0, 0, 0, .7);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);   
   }

   .HeaderContainer .menu-header .SideBarHeader {
      display: block;
   }
   
   .HeaderContainer .menu-header .SideBarHeader img{
      width: 25px;
      height: 25px;
      object-fit: cover;
   }

   .bottomHeader {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, .7);
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);   
      position: relative;;
   }

   .HeaderContainer .logo-header{
      display: none;
   }

   .bottomHeader .LogoReduced{
      display: block;
   }

   .bottomHeader .LogoReduced img{
      width: 20px;
      height: auto;
   }
   
   .bottomHeader 
   .LineBefore,
   .LineAfter {
      position: absolute;
      height: 2px;
      background-color: #f4f4f4;
      top: 50%;
      transform: translateY(-50%);
   }
   
   .bottomHeader .LineBefore {
      left: 0;
      width: calc(49% - 30px);
   }
   
   .bottomHeader .LineAfter {
      right: 0;
      width: calc(49% - 30px);
   }
   
   .bottomHeader img {
      margin-top: 5px;
      width: 30px;
      height: 30px;
      z-index: 1;
   }

   /*
   .HeaderContainer .menu-header .nav-header{
      display: block;
   }

   .HeaderContainer .menu-header .nav-header a{
      text-decoration: none;
      color: #f4f4f4;
      margin-right: 15px;
   }

   .HeaderContainer .menu-header .nav-header a i{
      font-size: 20px;
   }
   */

   /**
      * Form responsive
      * 
      * This line of code is responsible for making the form responsive.
      * 
   */
   main .container-form {
      width: 90%;
      height: auto;
      padding: 16px;
      margin-bottom: 0;
   }
   main .container-form .content-form h1 {
      font-size: 36px;
   }
   main .container-form .content-form p {
      font-size: 18px;
   }
   main .container-form .content-form .form .info-field-form input {
      width: 100%;
      height: 50px;
      font-size: 18px;
   }
   main .container-form .content-form .form button {
      height: 50px;
      font-size: 20px;
   }

   /**
      * Dashboard responsive
      * 
      * This line of code is responsible for making the card dashboard responsive.
      * 
   */
   main .titles .dashboard-title {
      font-size: 42px;
      font-weight: 700;
   }
   main .titles .dashboard-subtitle {
      font-size: 24px;
      font-weight: 400;
   }
   main .dashboard-container .dashboard-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }
   main .tables-links-container {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 24px 0;
   }
   main .tables-links-container .tables-links-content .tables-links-users {
      margin: 0px 0px 12px 0px;
   }
   main .tables-links-container .tables-links-content .tables-links-models {
      margin: 12px 0px 0px 0px;
   }

   /**
      * Footer responsive
      * 
      * This line of code is responsible for making the footer responsive.
      * 
   */
   footer .container-links {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 10px 20px 20px 20px;
      gap: 20px;
      border-bottom: 2px solid var(--blue100-variant);
   }

   footer .container-links .content-article-box{
      width: 100%;
   }

   footer .container-links .content-visible-mobile {
      display: flex;
      visibility: visible;
   }
   footer .container-links .content-visible-mobile {
      display: flex;
      align-items: center;
   }
   footer .container-links .content-visible-mobile img {
      width: 72px;
      height: 72px;
      object-fit: cover;
   }
   footer .container-links .content-visible-mobile .p-visible-mobile{
      font-size: 20px;
      font-weight: 600;
      margin-left: 12px;
      color: var(--blue200);
   }
   

   footer .container-links .content-article-box .content-links {
      flex-direction: row;
      max-width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
   }

   footer .container-links .content-article-box.logo-visble-web {
      display: none;
   }

   footer .container-links .content-article-box .content-links p a {
      font-size: 18px;
   }
   footer .container-links .content-article-box .content-links i {
      font-size: 16px;
   }

   footer .container-devs {
      flex-wrap: wrap;
      padding: 0 30px;
   }
   footer .container-devs p {
      font-size: 14px;
   }

   footer .copyright {
      font-size: 12px;
   }
}